html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.footer{
    position:relative;
    left: 0;
    width: 100%;
    
    background: rgba(16, 16, 16, 0.81);
}

p{
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
    color: white;
}